.ferrari-factory {
  background-image: url("ferrarifactory.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top:400px;
  padding-bottom:400px;
