body {
  color:white;
}
.navbar {
  padding 1rem;
  background-color: black;
}
.btn-primary:hover {
  background-color: blue;
  color: white;
}
.enzo-ferrari {
  background-image: url("enzoferrari.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top:400px;
  padding-bottom:400px;
}
.enzo-ferrari2 {
  background-image: url("enzoferrari2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top:400px;
  padding-bottom:400px;
}
.enzo-ferrari3 {
  background-image: url("enzoferrari3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top:400px;
  padding-bottom:400px;
}
.enzo-ferrari4 {
  background-image: url("enzoferrari4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top:400px;
  padding-bottom:400px;
}
.enzo-ferrari5 {
  background-image: url("enzoferrari5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top:400px;
  padding-bottom:400px;
}
